<!DOCTYPE html>
<html lang="en" data-ng-app="ticketyTackety">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    
    <title>TicketyTackety</title>
    
    <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/foundation.min.css" />

    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>

    <h1><span class="tickety">Tickety</span><span class="tackety">Tackety</span></h1>
    <div data-ng-controller="BoardCtrl">
      <div id="gameboard">
        <div id="row1" class="rw tr">
          <div id="cell1" class="cll lt {{class0}}" data-ng-click="makeMove(0)">{{cell0}}</div>
          <div id="cell2" class="cll ct {{class1}}" data-ng-click="makeMove(1)">{{cell1}}</div>
          <div id="cell3" class="cll rt {{class2}}" data-ng-click="makeMove(2)">{{cell2}}</div>
        </div>
        <div id="row2" class="rw mr">
          <div id="cell4" class="cll lm {{class3}}" data-ng-click="makeMove(3)">{{cell3}}</div>
          <div id="cell5" class="cll cm {{class4}}" data-ng-click="makeMove(4)">{{cell4}}</div>
          <div id="cell6" class="cll rm {{class5}}" data-ng-click="makeMove(5)">{{cell5}}</div>
        </div>
        <div id="row3" class="rw br">
          <div id="cell7" class="cll lb {{class6}}" data-ng-click="makeMove(6)">{{cell6}}</div>
          <div id="cell8" class="cll cb {{class7}}" data-ng-click="makeMove(7)">{{cell7}}</div>
          <div id="cell9" class="cll rb {{class8}}" data-ng-click="makeMove(8)">{{cell8}}</div>
        </div>
      </div>
    
      <div id="play-btn"><a href="" class="large button success" data-ng-click="clearBoard()">Play now!</a></div>
    </div>

    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    -->
    <script src="/lib/angular/angular.js"></script>
		<script src="https://cdn.firebase.com/v0/firebase.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angularFire/0.2.0/angularfire.min.js"></script>
    <script src="/js/uuid.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers.js"></script>
  </body>
</html>